.categories div{

    border: 5px solid ;
    border-color: rgb(54, 66, 94);
    width: 150px;
    height: 150px;
    color: blueviolet;
    padding: 20px; 
    margin: 80px; 
    display: inline-block;
    align-content: center;
    box-sizing: border-box;
    background-color: lightblue;    
}


.categories {
    padding: 15px; 
}

h1 {
    text-align: center;
    font-size: 50px;
    font-family: 'Courier New', Courier, monospace ;
}